# ==============================
# HomeLab v2 - Post Install ENV
# ==============================

TZ=Europe/Istanbul

# ARR VM
ARR_HOST=192.168.50.102

# qBittorrent
QBIT_URL=http://192.168.50.102:8080
QBIT_HOST=192.168.50.102
QBIT_PORT=8080
QBIT_USER=admin
QBIT_PASS=CHANGE_ME

# Prowlarr
PROWLARR_URL=http://192.168.50.102:9696
PROWLARR_API_KEY=CHANGE_ME

# Sonarr
SONARR_URL=http://192.168.50.102:8989
SONARR_API_KEY=CHANGE_ME

# Radarr
RADARR_URL=http://192.168.50.102:7878
RADARR_API_KEY=CHANGE_ME

# Bazarr
BAZARR_URL=http://192.168.50.102:6767
BAZARR_API_KEY=CHANGE_ME

# Paths inside containers
DOWNLOADS_PATH=/downloads
MOVIES_PATH=/movies
SERIES_PATH=/series

# qBittorrent categories
SONARR_CATEGORY=sonarr
RADARR_CATEGORY=radarr
